<nav class="navbar bg-dark border-bottom border-body slowguncolor justify-content-center align-item-center" data-bs-theme="dark">
 <h1 class="fw-bold"> Ride the Adventure, Rent the Bike!</h1>
  <!-- <img src="assets/gk.jpg" class="d-block iconimg" alt="gk"> -->
</nav>
<nav class="navbar bg-gradient justify-content-center align-item-center h3 mt-2 fw-normal" data-bs-theme="dark">
  <h2>Available Bikes On Rent In Pune</h2>
 </nav>
<!-- <div class="card"> 
  <h5 class="justify-content-center">Scooter</h5>
  <img src="assets/scooty1.jpg" alt="scooty image" class="">
 <div class="card card-body">
     <p class="card-text">"Moped" is a portmanteau of "motor" and "pedal." It refers to a small, lightweight motorized bicycle that typically has a low-powered engine, often with a displacement less than 50cc. Mopeds usually feature both pedals for human-powered propulsion and a small engine for motorized assistance. They are popular for short-distance urban commuting due to their fuel efficiency and ease of maneuverability.</p>
  </div>
</div>
<div class="card">
  <h5 class="justify-content-center">Motorcycle</h5>
  <img class="card-img-top" src="assets/motorcycle.jpg" alt="motorcycle image">
  <div class="card-body">
    <p class="card-text">A "motorcycle" is a two-wheeled motor vehicle powered by an engine, typically with a higher displacement than mopeds. Unlike mopeds, motorcycles are designed solely for motorized propulsion and do not include pedals for human-powered assistance. Motorcycles come in various styles, such as cruisers, sport bikes, touring bikes, and more, catering to different riding preferences and purposes.</p>
  </div>
</div>
<div class="card">
  <h5 class="justify-content-center align-item-center">Superbike</h5>
  <img class="card-img-top" src="assets/bullet.jpg" alt="bullet image">
  <div class="card-body">
    <p class="card-text">A "superbike" refers to a high-performance and powerful motorcycle designed for racing or high-speed road use. These motorcycles are often characterized by their advanced engineering, cutting-edge technology, and powerful engines with large displacements. Superbikes are built for speed, agility, and precision on the race track, featuring aerodynamic designs and state-of-the-art components. They are popular in professional motorcycle racing competitions and are also sought after by enthusiasts who appreciate top-tier performance on the road.</p>
  </div>
</div> -->
<router-outlet />

<!-- <div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/scooty.jpg" class="d-block" alt="scooty">
    </div>
    <div class="carousel-item">
      <img src="assets/motorcycle.jpg" class="d-block" alt="motorcycle">
    </div>
    <div class="carousel-item">
      <img src="assets/bullet.jpg" class="d-block" alt="bullet">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card ms-5 mt-5 mb-5 me-5">
      <img src="assets/scooty1.jpg" class="card-img-top" alt="scooty">
      <div class="card-body">
        <h5 class="card-title ps-3">Scooter</h5>
        <p class="card-text">"Scooter" is a portmanteau of "motor" and "pedal." It refers to a small, lightweight motorized bicycle that typically has a low-powered engine, often with a displacement less than 50cc. Mopeds usually feature both pedals for human-powered propulsion and a small engine for motorized assistance. They are popular for short-distance urban commuting due to their fuel efficiency and ease of maneuverability.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card ms-5 mt-5 mb-5 me-5">
      <img src="assets/bullet.jpg" class="card-img-top" alt="bullet">
      <div class="card-body">
        <h5 class="card-title ps-3">Superbike</h5>
        <p class="card-text">A "superbike" refers to a high-performance and powerful motorcycle designed for racing or high-speed road use. These motorcycles are often characterized by their advanced engineering, cutting-edge technology, and powerful engines with large displacements. Superbikes are built for speed, agility, and precision on the race track, featuring aerodynamic designs and state-of-the-art components.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card ms-5 me-5 mb-2">
      <img src="assets/motorcycle.jpg" class="card-img-top" alt="motorcycle">
      <div class="card-body">
        <h5 class="card-title">Motorcycle</h5>
        <p class="card-text">A "motorcycle" is a two-wheeled motor vehicle powered by an engine, typically with a higher displacement than mopeds. Unlike mopeds, motorcycles are designed solely for motorized propulsion and do not include pedals for human-powered assistance. Motorcycles come in various styles, such as cruisers, sport bikes, touring bikes, and more, catering to different riding preferences and purposes.</p>
      </div>
    </div>
  </div>
</div>
<div class="bg-dark slowguncolor">
  <h1 class="container">Why choose GK Bike Rentals for renting a bike?</h1>
  <span class="container">LOWEST PRICE GUARANTEE - Get a bikes for rent at the lowest possible price.</span>
  <span class="container pb-4">MINIMUM DEPOSIT - At GK bike rentals you pay only for what you use. We charge you minimal deposit amount.</span>
</div>
<div class="bg-dark slowguncolor">
  <h1 class="container">How renting a bike at GK bike rentals works?</h1>
  <span class="container">1. Call us on +91 8669627475/ +91 9325607475 or directly visit our office and then select the bike that you want.</span>
  <span class="container">2. Choose out of various bikes that best suits the trip you’re about to take</span>
  <span class="container">3. Get suited up and head to the pick-up location to get your ride.</span>
  <span class="container">4. Get ready to roll and have a nice time tripping!</span>
</div>
<div class="ps-2 pb-2">
  <h4 class="ps-3 mt-3">About Us</h4>
  <span>We are committed to providing our customers with the best possible experience, and we go the extra mile to make sure that they have a safe and enjoyable ride. Our bikes are well-maintained and our staff is friendly and knowledgeable. We also offer a variety of rental options, so you can find the perfect bike for your needs. Whether you're looking for a quick ride around town or a long weekend getaway, GK bike rentals has the perfect bike for you.</span>
</div>
<div class="bg-dark slowguncolor pt-2 pb-2">
  <img src="assets/gk.jpg" class="d-block iconimg" alt="gk">
  <div class="ms-2 mt-2">
    <i class="bi bi-envelope"></i> Email:
    <span>gkbikerentals<i class="bi bi-at"></i>gmail.com</span>
    <i class="bi bi-telephone" class="vl ms-2"></i> <label class="ms-2">Mobile No:</label>
    <span class="me-2"> +91 8669627475/ +91 9325607475</span>
    <i class="bi bi-geo-alt" class="vl me-2"></i> Address:
    <span>Arvind Apartment Taware Colony, Swargate, Pune</span>
    </div> 
</div>